<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Filter Tanggal</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <div class="col-md-5"> <input type="date" [(ngModel)]="tglAwal" name="tglAwal" nbInput fullWidth placeholder="Masukan Tanggal Awal"  ></div>
          <div class="col-md-5"> <input type="date" [(ngModel)]="tglAkhir" name="tglAkhir" nbInput fullWidth placeholder="Masukan Tanggal Akhir" ></div>

          <div class="col-md-2"> <button (click)="cari()" nbButton status="primary">Filter</button></div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>

        <br /><br />
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
            <tr>
              <th>Kode Barang</th>
              <th>Barcode</th>
              <th>Nama Barang</th>
              <th>Tipe</th>
              <th>Brand</th>
              <th>Group</th>
              <th>Satuan</th>
              <th>Area</th>
              <th>Divisi</th>
              <th>Tanggal</th>
              <th>Karyawan</th>
              <th>Qty Awal</th>
              <th>Qty In</th>
              <th>Qty Out</th>
              <th>Qty Sisa</th>
              <th>Ket</th>
            </tr>
          </thead>
          <tbody *ngIf="kartustocks?.length != 0">
              <tr *ngFor="let kartustock of kartustocks; let i = index">
                  <td>{{ kartustock.fc_kdstock }}</td>
                  <td>{{ kartustock.fc_barcode }}</td>
                  <td>{{ kartustock.fv_namastock }}</td>
                  <td>{{ kartustock.fv_nmtipe }}</td>
                  <td>{{ kartustock.fv_nmbrand }}</td>
                  <td>{{ kartustock.fv_nmgroup }}</td>
                  <td>{{ kartustock.fv_satuan }}</td>
                  <td>{{ kartustock.fv_nmarea }}</td>
                  <td>{{ kartustock.fv_nmdivisi }}</td>
                  <td>{{ kartustock.fd_tgl }}</td>
                  <td>{{ kartustock.fv_nama }}</td>
                  <td>{{ kartustock.fn_qty_awal }}</td>
                  <td>{{ kartustock.fn_qty_in }}</td>
                  <td>{{ kartustock.fn_qty_out }}</td>
                  <td>{{ kartustock.fn_qty_sisa }}</td>
                  <td>{{ kartustock.fv_ket }}</td>
              </tr>
          </tbody>
          <tbody *ngIf="kartustocks?.length == 0">
            <tr>
              <td colspan="16" class="no-data-available">No data!</td>
            </tr>
          <tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
